<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @participant.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @participant.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @participant.email %>
</p>

<p>
  <strong>Company:</strong>
  <%= @participant.company %>
</p>

<p>
  <strong>Location:</strong>
  <%= @participant.location %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @participant.job_title %>
</p>

<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
